In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
query_june = session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.like('%-06-%'))
june_results = query_june.all()

In [5]:
#  3. Convert the June temperatures to a list.
june_temp_list = []
june_temp_list = june_results

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temp_list, columns=['Date', 'June Temps'])
june_df.head()

         Date  June Temps
0  2010-06-01        78.0
1  2010-06-02        76.0
2  2010-06-03        78.0
3  2010-06-04        76.0
4  2010-06-05        77.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_query = session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.like('%-12-%'))
print(dec_query)

SELECT measurement.date AS measurement_date, measurement.tobs AS measurement_tobs
FROM measurement
WHERE measurement.date LIKE ?

In [9]:
# 7. Convert the December temperatures to a list.
dec_temp_list = []
dec_temp_list = dec_query.all()

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp_list, columns=['Date', 'December Temps']).set_index('Date')
dec_df.head()

            December Temps
Date
2010-12-01            76.0
2010-12-03            74.0
2010-12-04            74.0
2010-12-06            64.0
2010-12-07            64.0

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [13]:
# DELIVERABLE 3
# TWO ADDITIONAL QUERIES TO GATHER MORE WEATHER DATA FOR JUNE & DECEMBER:

# QUERY 1
jun_prcp = []
jun_prcp = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date.like('%-06-%'))

jun_prcp_df = pd.DataFrame(jun_prcp, columns = ['Date', 'June rain'])
jun_prcp_df.describe()

         June rain
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [14]:
# DELIVERABLE 3
# TWO ADDITIONAL QUERIES TO GATHER MORE WEATHER DATA FOR JUNE & DECEMBER:

# QUERY 2
dec_prcp = []

dec_prcp = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date.like('%-12-%'))

dec_prcp_df = pd.DataFrame(dec_prcp, columns = ['Date', 'December rain'])
dec_prcp_df.describe()

       December rain
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000